body {
    max-width: 960px;
    margin: auto;
}


.si-image {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: contain;
    
}

.btn {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px;
}