body {
    max-width: 960px;
    margin: auto;
}

.imageContent {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;

}

.btn {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px;
}